.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body { 
    background-color: #fa8f93;
    background-image: linear-gradient(45deg, #fa8f93 0%, #fdbfae 99%, #f7beae 100%);
    background-attachment: fixed;
	-ms-overflow-style: none;
}

.card {
    background-color: #fad0c4;
    width:90vw;
    max-width: 450px;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: -5px 5px 10px rgba(56, 56, 56, 0.24), 5px -5px 10px rgba(118, 118, 119, 0.32)!important;
}